.DS_Store
*.pyc
*.class

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
final/dungeoncrawlmvc/.idea/**/workspace.xml
final/dungeoncrawlmvc/.idea/**/tasks.xml
final/dungeoncrawlmvc/.idea/dictionaries

# Sensitive or high-churn files
final/dungeoncrawlmvc/.idea/**/dataSources/
final/dungeoncrawlmvc/.idea/**/dataSources.ids
final/dungeoncrawlmvc/.idea/**/dataSources.local.xml
final/dungeoncrawlmvc/.idea/**/sqlDataSources.xml
final/dungeoncrawlmvc/.idea/**/dynamic.xml
final/dungeoncrawlmvc/.idea/**/uiDesigner.xml

# Gradle
final/dungeoncrawlmvc/.idea/**/gradle.xml
final/dungeoncrawlmvc/.idea/**/libraries

# CMake
final/dungeoncrawlmvc/cmake-build-debug/
final/dungeoncrawlmvc/cmake-build-release/

# Mongo Explorer plugin
final/dungeoncrawlmvc/.idea/**/mongoSettings.xml

# File-based project format
*.iws

# IntelliJ
final/dungeoncrawlmvc/out/

# mpeltonen/sbt-idea plugin
final/dungeoncrawlmvc/.idea_modules/

# JIRA plugin
final/dungeoncrawlmvc/atlassian-ide-plugin.xml

# Cursive Clojure plugin
final/dungeoncrawlmvc/.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
final/dungeoncrawlmvc/com_crashlytics_export_strings.xml
final/dungeoncrawlmvc/crashlytics.properties
final/dungeoncrawlmvc/crashlytics-build.properties
final/dungeoncrawlmvc/fabric.properties

# Editor-based Rest Client
final/dungeoncrawlmvc/.idea/httpRequests
