<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Country Data: </title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='front_page3.css') }}" type="text/css" />
    <script>var api_port = {{ api_port }};</script>
    <script>var port = {{ port }};</script>
    <script>var country_name = '{{ country_name }}';</script>
    <script type="text/javascript" src="{{ url_for('static', filename='country_page3.js') }}" defer></script>
</head>

<body>
    <h2 class = "title" id="country-title">Data for country: </h2>
    <div>
        <h4 class = "title">Country Index</h4>
        <ul class = "vertical-navbar" id = "vert-navbar"></ul>
    </div>
    
    <div style="width:800px; margin:0 auto; position: relative">
        <ul class = "horizontal-navbar">
			<li><a href="https://duckduckgo.com/">Home</a></li>
			<li><a href="https://www.google.com/">About the Data</a></li>
			<li><a href="https://www.bing.com/">Country Profiles</a></li>
			<li><a href="https://www.carleton.edu/">Glossary</a></li>
		</ul>
        <p><table id="results-table"></table></p>
    </div>
    
</body>
</html>


