<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Front Page</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='front_page3.css') }}" type="text/css" />
    <script>var api_port = {{ api_port }};</script>
    <script>var port = {{ port }};</script>
    <script type="text/javascript" src="{{ url_for('static', filename='front_page3.js') }}" defer></script>
</head>

<body>
	<a name="Top-of-Page"/>
	<div class="Header-Div">
		<h2 class = "title">Data on the Middle East</h2>
		<ul class = "horizontal-navbar">
			<li><a id = "backButton">Home</a></li>
			<li><a href="https://www.google.com/">About the Data</a></li>
			<li><a href="https://www.bing.com/">Country Profiles</a></li>
			<li><a href="https://www.carleton.edu/">Glossary</a></li>
		</ul>
	</div>
	<div class="Navbar-Div">
		<h4 class = "title">Country Index</h4>
		<ul class = "vertical-navbar" id = "vert-navbar"></ul>
	</div>

	<p style="text-align:right"><a href = "#Submit-Link">Jump to Bottom</a></p>
	
	<div class="Content-Div">
		<div id = "Results-Div">
		<!-- To be filled with a table created by the submit button -->
		</div>
	</div>

	<div class="Selection-Div">
		<h4 class = "title" style = "margin: 10px 20px 10px 300px">Modify Search by Year</h4>
		<p>Start Year: <input id="start-year" type="text" /></p>
		<p>End Year: <input id="end-year" type="text" /></p>
		<button class = "Select-Button" id = "Select-Years-Button">&#9776; Select Years</button><br>
		<div id="Select-Years-Div" class='Checkbox-Div'>
		<!-- To be filled by the Select-Years-Button button -->
		</div><br>

		<h4 class = "title" style = "margin: 10px 20px 10px 290px">Modify Search by Country</h4><br>
		<button class = "Select-Button" id="Select-Countries-Button">&#9776; Select Countries</button><br>
		<div id="Select-Countries-Div" class='Checkbox-Div'>
		<!-- To be filled by the Select-Countries-Button -->
		</div><br>

		<h4 class = "title" style = "margin: 10px 20px 10px 300px">Modify Search by Data</h4><br>
		<button class = "Select-Button" id="Select-Stats-Button">&#9776; Select Stats</button>
		<div id="Select-Stats-Div" class='Checkbox-Div'>
		<!-- To be filled by the Select-Stats-Button -->
		</div><br>

		<a name="Submit-Link"><button class = "Submit" id = "Submit-Button">Submit</button></a><br>
	</div>
	<p style="text-align:right"><a href = "#Top-of-Page">Jump to Top></p>
</body>
</html>
