<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Front Page</title>
    <link rel="stylesheet" href="front_page.css" type="text/css" />
    <script type="text/javascript" src="front_page.js"></script>
</head>

<body>
    <h2 class = "title">Data on the Middle East</h2>

    <div style="width:800px; margin:0 auto; position: relative">
      <ul class = "horizontal-navbar">
          <li><a href="https://duckduckgo.com/">Home</a></li>
          <li><a href="https://www.google.com/">About the Data</a></li>
          <li><a href="https://www.bing.com/">Country Profiles</a></li>
          <li><a href="https://www.carleton.edu/">Glossary</a></li>
      </ul>

      <div style="position : absolute">
        <button class = "Select-Countries">&#9776; Select Countries</button>
        <br>
            <input id="Algeria" type="checkbox"/>
            <label for="Algeria">Algeria</label>
            <input id="Tunisia" type="checkbox"/>
            <label for="Tunisia">Tunisia</label>
            <input id="gdp_usd" type="checkbox"/>
            <label for="gdp_usd">GDP in US Dollars</label>
      </div>
    </div>

    <div>
        <h4 class = "title">Country Index</h4>
        <ul class = "vertical-navbar">
            <li><a href="https://duckduckgo.com/">Algeria</a></li>
            <li><a href="https://www.google.com/">Bahrain</a></li>
            <li><a href="https://www.bing.com/">Tunisia</a></li>
            <li><a href="https://www.carleton.edu/">United Arab Emirates</a></li>
            <li><a href="https://www.carleton.edu/">Egypt, Arab Rep.</a></li>
            <li><a href="https://www.carleton.edu/">Iran, Islamic Rep.</a></li>
            <li><a href="https://www.carleton.edu/">Iraq</a></li>
            <li><a href="https://www.carleton.edu/">Israel</a></li>
            <li><a href="https://www.carleton.edu/">Jordan</a></li>
            <li><a href="https://www.carleton.edu/">Kuwait</a></li>
            <li><a href="https://www.carleton.edu/">Lebanon</a></li>
            <li><a href="https://www.carleton.edu/">Libya</a></li>
            <li><a href="https://www.carleton.edu/">Middle East North Africa</a></li>
            <li><a href="https://www.carleton.edu/">Mauritania</a></li>
            <li><a href="https://www.carleton.edu/">Oman</a></li>
            <li><a href="https://www.carleton.edu/">West Bank and Gaza</a></li>
            <li><a href="https://www.carleton.edu/">Qatar</a></li>
            <li><a href="https://www.carleton.edu/">Saudi Arabia</a></li>
            <li><a href="https://www.carleton.edu/">Sudan</a></li>
            <li><a href="https://www.carleton.edu/">Sudan</a></li>
            <li><a href="https://www.carleton.edu/">South Sudan</a></li>
            <li><a href="https://www.carleton.edu/">Syrian Arab Republic</a></li>
            <li><a href="https://www.carleton.edu/">Tunisia</a></li>
            <li><a href="https://www.carleton.edu/">Turkey</a></li>
            <li><a href="https://www.carleton.edu/">Yemen, Rep.</a></li>
        </ul>

        <div style = "margin : 0 0 0 500px">
          <button id = "submit">Submit</h4>
        </div>

    </div>
</body>
</html>
